{% extends "layout.html" %}
{% block content %}
<section class="panel centered">
  <h2 class="h2" style="margin-bottom: 20px;">📜 Changelog</h2>

  <div class="changelog-list">
    <div class="changelog-item">
      <h3>v1.2 — 27 Octobre 2025</h3>
      <ul>
        <li>Ajout de Live Preview</li>
        <li>Ajout de transitions fluides entre les pages</li>
      </ul>
    </div>

    <div class="changelog-item">
      <h3>v1.1 — 25 Octobre 2025</h3>
      <ul>
        <li>Création de Wild Drafter</li>
      </ul>
    </div>
  </div>
</section>
{% endblock %}
